/.ninja_deps
/.ninja_log
/.vs
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/argh.h
/build.ninja
/catch.hpp
/cmake_install.cmake
/html
/json.hpp
/latex
/libndt-client
/libndt.a
/rules.ninja
/tests
