[submodule ".ci/docker"]
	path = .ci/docker
	url = https://github.com/bassosimone/mk-docker-ci
[submodule "cmake/Modules"]
	path = cmake/Modules
	url = https://github.com/measurement-kit/cmake-modules
