/.ninja_deps
/.ninja_log
/.vs
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/argh.h
/build.ninja
/catch.hpp
/cmake_install.cmake
/html
/install_manifest.txt
/json.hpp
/latex
/libndt-client
/libndt.a
/libndt.dylib
/rules.ninja
/tests
