/.ninja_deps
/.ninja_log
/.vs
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/argh.h
/build.ninja
/catch.hpp
/cmake_install.cmake
/example_client
/json.hpp
/libndt.a
/rules.ninja
/tests
