[submodule ".ci/common"]
	path = .ci/common
	url = https://github.com/measurement-kit/ci-common
[submodule "cmake/Modules"]
	path = cmake/Modules
	url = https://github.com/measurement-kit/cmake-modules
